@page "/counter"
@using Blazored.LocalStorage
@using webapp2.Components
@inject Blazored.LocalStorage.ILocalStorageService localStore

<PageTitle>Counter</PageTitle>

<TimeComponent BackgroundColor="green"/>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount;

    protected override async Task OnInitializedAsync()
    {
        DateTime lastUsed = await localStore.GetItemAsync<DateTime>("lastUsed");
        TimeSpan delta = DateTime.Now - lastUsed;
        if (delta.TotalSeconds < 5)
             currentCount = await localStore.GetItemAsync<int>("count");
        else
        {
            currentCount = 0;
            SaveCounter();
        }
        SaveNow();
        
    }

    private async Task IncrementCount()
    {
        DateTime lastUsed = await localStore.GetItemAsync<DateTime>("lastUsed");
        TimeSpan delta = DateTime.Now - lastUsed;
        if (delta.TotalSeconds >= 5)
        {
            currentCount = 0;
        }
        else
        {
            currentCount++;
        }
        SaveCounter();
        SaveNow();
        
    }
    
    private void SaveNow() => localStore.SetItemAsync("lastUsed", DateTime.Now);
    
    private void SaveCounter() => localStore.SetItemAsync("count", currentCount);
}

